*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Segoe UI,sans-serif;

}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#2563EB,#1D4ED8);

overflow:hidden;

}

.loader-container{

text-align:center;

color:white;

}

.logo{

margin-bottom:40px;

animation:fadeIn .8s ease;

}

.logo i{

font-size:80px;

margin-bottom:20px;

}

.logo h1{

font-size:42px;

font-weight:bold;

letter-spacing:1px;

}

.spinner{

width:70px;

height:70px;

margin:auto;

border:8px solid rgba(255,255,255,.3);

border-top:8px solid white;

border-radius:50%;

animation:spin 1s linear infinite;

}

#loadingText{

margin-top:25px;

font-size:18px;

}

.progress{

width:350px;

height:10px;

background:rgba(255,255,255,.3);

margin:35px auto;

border-radius:20px;

overflow:hidden;

}

.progress-fill{

height:100%;

width:0%;

background:white;

animation:load 3s linear forwards;

}

@keyframes spin{

100%{

transform:rotate(360deg);

}

}

@keyframes load{

0%{

width:0;

}

100%{

width:100%;

}

}

@keyframes fadeIn{

from{

opacity:0;

transform:translateY(-30px);

}

to{

opacity:1;

transform:translateY(0);

}

}