.container{

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

height:100vh;

}

.cards{

display:flex;

gap:40px;

margin-top:40px;

}

.card{

width:320px;

background:white;

padding:30px;

border-radius:10px;

box-shadow:0 0 20px rgba(0,0,0,.1);

text-align:center;

transition:.3s;

}

.card:hover{

transform:translateY(-10px);

}